*{
    margin: 0;
    padding: 0;

}

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #C3203F; */
  }
  html{
    max-width: 360;
    background-color: #C3203F;

  }

.containerr{
    width: 360px;
    background-color: #C3203F;
    
}



.itl{
    font-style: italic;
    color: white;
    font-size: 11px;
}

.reg{
    font-size: 11px;
    font-style: normal;
    color: white;
}

i{
    padding: 10px;
}

p{
    font-size: 9px;
    color:black
}



input{
    font-size: 11px;
    border-radius: 10px;
}
h6{
    color: #C3203F;
}